<?xml version="1.0" encoding="UTF-8"?>
<config>
  <global>
    <models>
        <async_payment>
             <class>Async_Payment_Model</class>
        </async_payment>
    </models>
    <events>
      <controller_action_predispatch_checkout_onepage_saveOrder>
        <observers>
          <async_payment_checkout_inject_observer>
            <type>singleton</type>
            <class>async_payment/observer</class>
            <method>extractPaymentProcess</method>
          </async_payment_checkout_inject_observer>
        </observers>
      </controller_action_predispatch_checkout_onepage_saveOrder>
      <core_block_abstract_to_html_after>
        <observers>
          <async_payment_checkout_inject_observer>
            <type>singleton</type>
            <class>async_payment/observer</class>
            <method>injectJavaScript</method>
          </async_payment_checkout_inject_observer>
        </observers>
      </core_block_abstract_to_html_after>     
    </events>
     <helpers>
		 <async_payment>
		  <class>Async_Payment_Helper</class> 
		  </async_payment>
     </helpers>
  </global>
     <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payment>
                                            <title>Async Payment</title>
                                        </payment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <payment>
                <use>standard</use>
                <args>
                    <module>Async_Payment</module>
                    <frontName>payment</frontName>
                </args>
            </payment>
        </routers>
   </frontend>
</config>